/* Styling the Body element i.e. Color, Font, Alignment */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
body {
    background-color: rgb(170, 241, 241);
    font-family: Verdana;
    text-align: center;
}


h1 {
    color: #cf4949;
}

/* styling the FRM (color, padding, shadow) */
form {
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.8);
}

/* Styling form-control Class */
.form-control {
    text-align: left;
    margin-bottom: 25px;
}


/* Styling form-control Label */
.form-control label {
    display: block;
    margin-bottom: 10px;
}

/* styling form-contrl, input, select, textarea */
.form-control input, 
.form-control select, 
.form-control textarea { 
    border: 1px solid #777; 
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display:block ;
    width: 95%;
}

/* Styling form-control Radio
        button and Checkbox */

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

button {
    background-color:  #05c46b;
    border: 1px soild #777;
    border-radius: 5px;
    font-family: inherit;
    font-size:21px;
    display: block;
    width: 100%;
    margin-top: 50px ;
    margin-bottom: 20px ;
}
/* footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    font-size: 16px;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
.design-by {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    font-size: 14px;
} */


/* footer region */

.footer {
    margin-top: 200px;
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  